@using Novel.Common.Models
@{
    ViewData["Title"] = "Index";
    List<NearlyUpdateNovel> updateNovels = ViewBag.NearlyUpdateNovels;
    List<NovelTab> tabs = ViewBag.NovelTabs;
    int selectNum = ViewBag.SelectNum;
}


<ul class="list-group list-group-horizontal-lg">
    @foreach (var tab in tabs)
    {
        <li class=@(selectNum == tab.Order?"list-group-item active":"list-group-item")  >@tab.Title</li>
    }
</ul>

<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        @foreach (var item in updateNovels)
        {
            <div class="card   mb-3 border border-info rounded">
                <div class="card-body">
                    <span class="card-text">@item.Tag</span>
                    <h5 class="card-title">@item.Title</h5>
                    <p class="card-text">@item.NearlyChapter</p>
                    <p class="card-text">作者:@item.Author</p>
                    <p class="card-text">更新时间:@item.UpdateTime</p>
                    <a href="#" class="btn btn-outline-primary">加入书架</a> <a href="#" class="btn btn-outline-success ml-3">阅  读</a>
                </div>
            </div>
        }
    </div>
</div>

